<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Your-Title-Here" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="Your-Page-Description" />
	<title>Hotshot | Sports</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>
	
	<!-- Css -->
	<link rel="stylesheet" href="css/core.min2.css" />
	<link rel="stylesheet" href="css/skin.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop">

	
	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			
			<!-- Content -->
			<div class="content clearfix">

				<!-- Fullscreen Sections -->
				<section class="fullscreen-sections-wrapper no-navigation">
					<div class="section-block fullscreen-section background-cover bkg-charcoal">
						<!-- Fullscreen Image -->
						<div class="background-image-wrapper">
							<div class="background-image fullscreen-bkg-2"></div>
						</div>
						<div class="fullscreen-inner">
							<div class="row">
								<div class="column width-6 offset-3 pt-50 center offset-1 ">
									<h1 class="mb-20 status-code-title no-padding-on-mobile text-uppercase color-white">404</h1>
									<h2 class="mb-30 title-medium no-padding-on-mobile text-uppercase color-white">Page Not Found</h2>
									<p class="color-white">Sorry, the page you are looking for cannot be found.<br>Try checking the URL or return back home.</p>
									<a class="button medium border-white color-white bkg-hover-turquoise color-hover-white fade-location" href="index.html">GO HOME</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Fullscreen Sections End -->

			</div>
			<!-- Content End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="js/timber.master.min.js"></script>
</body>
</html>