doctype html
html
  head
  link(rel='stylesheet', href='css/own.css', type='text/css')
  style.
    @font-face{
            font-family: title;
            src: local("title Neue Bold"),
            local("titleNeue-Bold"),
            url(font/ProximaNova-Semibold.otf);
    }
    .a{
      margin-right:200px;
      text-align:center;
    }
    .x{
      font-family: title;
      font-size:25px;
    
    }
    a.y{
      font-family: title;
      float:right;
        }
  body      
    block content    
    footer.footer
          hr
          a(href='') Design By Vectorx
