.section-background{
	background: url('../images/bg.jpg');
}
.breadcrumb{
    padding: 235px 15px 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}
.contact{
 background: #ececec;
    margin: 0 auto;
    text-align: center;
}

.contact h3{
    margin-top: 50px;
    padding-bottom: 20px;
	font-size: 15px;
}
.form{
    margin: 0 auto;
    width: 800px;
}
.form h3{
    margin-left: 15px;
    font-size: 25px;
}
.form .message{
    margin: 0px 12px;
    height: 180px;
    width: 97%;
}
.btn-sub {
    border-radius: 0px;
    color: white;
    background-color: rgb(5,10,21) ;
    padding: 10px 25px;
    margin: 10px 30px;
    border-color: rgb(5,10,21) ;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.btn-sub:hover{
    background-color: rgb(5,10,21);
    color: white;
}
.support-message{
	padding-top: 10px;
}
input.submit[disabled] {
	border-radius: 1px;
	color: white;
	background-color: rgb(5,10,21) ;
	padding: 5px 25px;
	margin: 5px 30px;
	border-color: rgb(5,10,21) ;
	text-transform: uppercase;
	transition: all .4s ease-in-out;
}
input[type="username"], input[type="email"], input[type="text"], .message{
	border-color: transparent;
	background: #fff;
	font-size: 13px;
	color: #969595;
}
input[type="username"]:focus, input[type="email"]:focus, input[type="text"]:focus, .message:focus{
    border-color: rgb(5,10,21);
    box-shadow: 0 0 8px rgba(74,20,140,.1) !important;
}
@media (max-width: 200px) {
    .form {
          width: 100px;
          height: 500px;
    }
}
@media (max-width: 700px) {
    .form {
          width: 250px;
          height: 500px;
    }
    .form .message{
        width: 225px;
    }
}
